# Prerequisites
*.d
*/.vs/
*.DS_Store
# Compiled Object files
*.slo
*.lo
*.o
*.obj

build
# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app

# unused models
*/4.tflite
*/3.tflite
*/thunder.tflite
sentadilla1.mp4
sentadilla2.mp4
sentadillax.mp4